@model Juster_Project.Models.user_data
@{
    ViewBag.Title = "User_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>OTP</th>
        <th>Email</th>
        <th>Password</th>
    </tr>

    @foreach (var x in Model.user_data)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.otp</td>
            <td>@x.email</td>
            <td>@x.password</td>
        </tr>
    }
</table>


